.box {
  position: absolute;
  left: 12px;
  top: 290px;

  /* Black / Inactive */

  background: rgba(0, 0, 0, 0.54);
  mix-blend-mode: normal;
}

.checkboxtitle {
  position: absolute;
  width: 132px;
  height: 28px;
  left: 35px;
  top: 285px;

  /* Body 2 - reg 14 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.25px;

  color: #000000;
}
